In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("../weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hobart,AU,2/5/2022 16:51,-42.8794,147.3294,60.03,76,100,1.14
1,1,San Juan Del Cesar,CO,2/5/2022 16:54,10.7711,-73.0031,86.95,29,10,10.16
2,2,Port Elizabeth,ZA,2/5/2022 16:53,-33.9180,25.5701,71.10,83,75,13.80
3,3,Cherskiy,RU,2/5/2022 16:53,68.7500,161.3000,-32.82,96,15,1.39
4,4,San-Pedro,CI,2/5/2022 16:54,4.7485,-6.6363,83.95,65,53,9.78

In [3]:
#get data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [13]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [21]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,San Juan Del Cesar,CO,2/5/2022 16:54,10.7711,-73.0031,86.95,29,10,10.16
4,4,San-Pedro,CI,2/5/2022 16:54,4.7485,-6.6363,83.95,65,53,9.78
7,7,Rikitea,PF,2/5/2022 16:53,-23.1203,-134.9692,78.62,73,53,12.82
9,9,Avarua,CK,2/5/2022 16:53,-21.2078,-159.7750,77.05,88,40,8.05
10,10,Lazaro Cardenas,MX,2/5/2022 16:54,17.9583,-102.2000,81.45,54,2,1.36
11,11,Tabou,CI,2/5/2022 16:54,4.4230,-7.3528,83.03,69,82,10.16
17,17,Bonfim,BR,2/5/2022 16:54,3.0833,-59.9500,87.64,51,97,6.44
18,18,Mahebourg,MU,2/5/2022 16:54,-20.4081,57.7000,80.89,83,40,16.11
21,21,Coahuayana,MX,2/5/2022 16:54,18.7333,-103.6833,83.14,38,15,3.24
25,25,Port-Gentil,GA,2/5/2022 16:54,-0.7193,8.7815,80.38,75,9,9.75

In [22]:
#determine if there are any null values
preferred_cities_df.count()

City_ID       153
City          153
Country       153
Date          153
Lat           153
Lng           153
Max Temp      153
Humidity      153
Cloudiness    153
Wind Speed    153
dtype: int64

In [23]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                  City Country  Max Temp      Lat       Lng Hotel Name
1   San Juan Del Cesar      CO     86.95  10.7711  -73.0031
4            San-Pedro      CI     83.95   4.7485   -6.6363
7              Rikitea      PF     78.62 -23.1203 -134.9692
9               Avarua      CK     77.05 -21.2078 -159.7750
10     Lazaro Cardenas      MX     81.45  17.9583 -102.2000
11               Tabou      CI     83.03   4.4230   -7.3528
17              Bonfim      BR     87.64   3.0833  -59.9500
18           Mahebourg      MU     80.89 -20.4081   57.7000
21          Coahuayana      MX     83.14  18.7333 -103.6833
25         Port-Gentil      GA     80.38  -0.7193    8.7815

In [35]:

# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

In [37]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,San Juan Del Cesar,CO,86.95,10.7711,-73.0031,Hotel Saraje
4,San-Pedro,CI,83.95,4.7485,-6.6363,Hotel Maria
7,Rikitea,PF,78.62,-23.1203,-134.9692,People ThankYou
9,Avarua,CK,77.05,-21.2078,-159.7750,Paradise Inn
10,Lazaro Cardenas,MX,81.45,17.9583,-102.2000,quinta antigua
11,Tabou,CI,83.03,4.4230,-7.3528,hotêl doufoulougou
17,Bonfim,BR,87.64,3.0833,-59.9500,
18,Mahebourg,MU,80.89,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
21,Coahuayana,MX,83.14,18.7333,-103.6833,El rranchito michuacan de ocampos
25,Port-Gentil,GA,80.38,-0.7193,8.7815,Fengshui Residence

In [39]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [40]:
#create the tags
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [41]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))